# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Ignore Build folders and Config files
build/
lib/
Build/
Doc/
Config.txt
*__pycache__*

# Ignore Resource folder
Resources/
Resources
resources/
resources

# Ignore CTags file
tags

# Ignore Temp Files
*.swp
*~

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OSX sys files
.DS_Store
