# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Ignore Build folders
build/
Build/
Doc/

# Ignore CTags file
tags

# Ignore Temp Files
*.swp
*~

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
